
.awssld__next, .awssld__prev {
	outline: none !important;
}

.close-icon {
	color: black;
	font-weight: lighter !important;
}

.modal-inside .modal-content {
	background: white;
}

.modal-close {
	text-align: right;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}

.modal-description {
	text-align: justify;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 12px;
}

.slider-image {
	border: 5px solid #D46F4D;
}

.slider-tab {
	height: 25px;
}

.slider-iconfiy {
	margin-top: 10px;
}

.padding-bottom-lg {
	padding-bottom: 50px;
}

.margin-left-xs {
	margin-left: 5px;
}

.margin-left-sm {
	margin-left: 10px;
}

.tech-icon {
	font-size: 300%;
}

.tech-label {
	font-size: 30%;
}

.loader-bar-color {
	color: black !important;
}
